
.heading{
	background-color: #b10a0a;
}

.heading img{
	padding: 10px 5px 7px 5px;
}

.ccsf-guides{
	background-color: #000;
	color: #fdaf3b;
	padding: 7px 20px;
	border-radius: 10px 10px 0 0;
	display: inline-block;
}

.ccsf-guides a{
	color: #fff;
}

nav{
	background: #000;
}

.nav-link{
	color: #000 !important;
	font-weight: bold;
}

/*quickLinks*/
.quickLinks img{
	width: 81.8%;
	float: left;
}

.quickLinks .list-group-item{
	padding: 6.8px 1rem;
	border-left: solid 1.1px black;
	border-right: solid 1.1px black;
	border-radius: 0;
}

.quickLinks .list-group-item:first-child{
	border-top: solid 1.1px black;
}

.quickLinks .list-group-item:last-child{
	border-bottom: solid 1.1px black;
}

/*media queries*/
@media only screen and (min-width: 768px){
	.nav-link{
		border-left: 1px solid black;
	}

	.nav-link:last-child{
		border-right: 1px solid black;
	}
}

@media only screen and (max-width: 446px){
	.heading img{
		width: 100%;
	}
}